---
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<style>
#bibtex_errors { margin-top:10px; color: red;}
.well pre { margin: 0px 0px 0px 0px; font-size: 80%; }
</style>

<div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column">
            <div class="my-auto">
                <h2 class="mb-2">Teaching Assistant (2018-2022)</h2>

                <div class="card card-horizontal mb-2">
                    <div class="card-body">
                        <h4 class="card-title">Naval Academy, France</h4>
                        <p class="card-text text-justify small">
							I am currently involved in diverse Computer Science courses for the officers-engineer students (equivalent to 3rd year BSc - 1st year MSc).
							These courses represent a total volume of 96 hours/year of tutorials and practical courses.
							A summary of the courses subjects is presented as follows:
							
							
							<dl>
							  <dt><b>Algoritmic and programming:</b> Algorithmic concepts (in C) and Object Oriented Programming (in C++).</dt>
								<dd style='display:list-item;'>Practical courses in algorithmic since 2018 (4*12 hours)</dd>
								<dd style='display:list-item;'>Practical courses C++ in 2019, 2020, 2021 (3*15 hours)</dd>							  
							  
							  <dt><b>Spatio-temporal database:</b> This course covers the problems related to managing, processing and visualising geolocalised data, as well as the principles of spatio-temporal DB. 
							  The module is applied to the monitoring of maritime navigation, along with datascience techniques.</dt>
								<dd style='display:list-item;'>Practical courses in 2018, 2019, 2020, 2021 (4*12 hours)</dd>
							</dl>
							
							
							
						</p>
						
                        
						
						
						
						<!--<p class="card-text small"><a href="http://polluscope.uvsq.fr/index.php/" target="_blank">Web Site</a></p>-->
                    </div>
                </div>




        </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

</body>
