---
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<style>
#bibtex_errors { margin-top:10px; color: red;}
.well pre { margin: 0px 0px 0px 0px; font-size: 80%; }

.notbold{
    font-weight:normal
}​

</style>

<div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column">
            <div class="my-auto">
                <h2 class="mb-2">Teaching Assistant (2018-2022)</h2>

                <div class="card card-horizontal mb-2">
                    <div class="card-body">
                        <h4 class="card-title">Naval Academy, France</h4>
                        <p class="card-text text-justify small">
							I am currently involved in diverse Computer Science courses for the officers-engineer students (equivalent to 3rd year BSc - 1st year MSc).
							These courses represent a total volume of 96 hours/year of tutorials and practical courses.
							A summary of the courses subjects is presented as follows:
						</p>	
						
							<dl style='margin-left:20px'>
							  <dt class="card-text small" style=>Algoritmic and programming: <span class='notbold'>Algorithmic concepts (in C) and Object Oriented Programming (in C++).</span></dt>
								<dd style='display:list-item;'>Practical courses in algorithmic since 2018 (4*12 hours)</dd>
								<dd style='display:list-item;'>Practical courses C++ in 2019, 2020, 2021 (3*15 hours)</dd>							  
							  
							  <dt class="card-text small">Spatio-temporal database: <span class='notbold'>This course covers the problems related to managing, processing and visualising geolocalised data, as well as the principles of spatio-temporal DB. 
							  The module is applied to the monitoring of maritime navigation, along with datascience techniques.</span></dt>
								<dd style='display:list-item;'>Practical courses in 2018, 2019, 2020, 2021 (4*12 hours)</dd>
							
							<dt class="card-text small">Databases and Web: <span class='notbold'>Concepts, manipulation, and querying relational databases, along with methods allowing linking web services with databases.</span></dt>
								<dd style='display:list-item;'>Practical courses in 2019 (16 hours)</dd>
								
							<dt class="card-text small">Information system & Computer Architecture: <span class='notbold'>General principles of computer architecture, operating systems and information systems functionalities.</span></dt>
								<dd style='display:list-item;'>Practical courses in 2021 (12 hours)</dd>				
								
							<dt class="card-text small">Wi-fi Networks and Security: <span class='notbold'>Principles on how to establish wifi networks in infrastructure, ad-hoc, and monitor modes. In a second part, authentication and encryption systems (WEP, WPA, Mac Filtering) are studied.</span> </dt>
								<dd style='display:list-item;'>Practical courses since 2018 (4*21 hours)</dd>	
								
							<dt class="card-text small">Networks and Cybersecurity: <span class='notbold'>general concepts on network protocols. Introduction to techniques related to security attacks and network vulnerabilities.</span> </dt>
								<dd style='display:list-item;'>Practical courses in 2019, 2020, 2021 (4*12 hours)</dd>	

							<dt class="card-text small">Virtualisation and containerisation: <span class='notbold'>Introduction to cloud computing, virtual machines and containers. Principles on how to create virtual machines and Docker containers.</span></dt>
								<dd style='display:list-item;'>Practical courses in 2019, 2020 (30 + 12 hours)</dd>	
								
								
							</dl>
						
                       
                    </div>
                </div>




        </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

</body>
